<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block meta_description %}Portfolio website{% endblock %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Portfolio - Parth Chopra{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
<div id="magic-cursor">
  <div id="cursor"></div>
</div>
<div class="preloader">
  <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
    <path id="loader" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
  </svg>
  <div class="loader-container">
    <div class="loaded">
      <span>L</span><span>O</span><span>A</span><span>D</span><span>I</span><span>N</span><span>G</span>
    </div>
  </div>
</div>
<div class="main">
  {% include 'components/header.html' %}
  <div id="main-wrapper" class="main-wrapper">
    {% block content %}{% endblock %}
    {% include 'components/footer.html' %}
  </div>
</div>
<script src="{{ url_for('static', filename='assets/js/vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/all.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/ScrollTrigger.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/lenis.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/SplitType.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/shuffle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/gallery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/slider.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>
