{% extends 'base.html' %}
{% block title %}{{ blog.title }} - Blog{% endblock %}
{% block content %}
<section class="blog-single"><div class="container">
  <h2 class="title">{{ blog.title }}</h2>
  <div class="content d-flex"><span class="me-3">{{ blog.author }}</span><span>{{ blog.date }}</span></div>
  <img class="w-100 my-4" src="{{ url_for('static', filename=blog.thumbnail) }}" alt="{{ blog.title }}">
  <div>{{ blog.content|safe }}</div>
  <div class="tags mt-4">{% for tag in blog.tags %}<a class="badge mx-1" href="#">{{ tag }}</a>{% endfor %}</div>
</div></section>
{% endblock %}
