{% extends "base.html" %}
{% block title %}{{ blog.title }} - Blog{% endblock %}
{% block content %}
<section class="blog-single improved-single">
  <div class="container">
    {% set label = 'Back to Blogs' %}
    {% set fallback_url = url_for('blogs') %}
    {% include 'components/back-button.html' %}

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <article class="single-card p-4 p-md-5">
          <h2 class="title reveal-text mb-3">{{ blog.title }}</h2>
          <div class="portfolio-meta d-flex align-items-center mb-3">
            <div class="portfolio-terms d-flex flex-wrap gap-2">{% for tag in blog.tags %}<a class="terms badge" href="#">{{ tag }}</a>{% endfor %}</div>
          </div>
          <div class="content item d-flex flex-column flex-md-row align-items-md-center gap-3 mb-4">
            <div class="author d-flex align-items-center"><img class="single-author-avatar" src="{{ url_for('static', filename='assets/img/logo/logo.png') }}" alt="{{ blog.author }} avatar"><div class="content ms-3"><h6 class="title mt-0 mb-1">Author</h6><span><strong>{{ blog.author }}</strong></span></div></div>
            <div class="published"><h6 class="title mt-0 mb-1">Published</h6><span>{{ blog.date }}</span></div>
          </div>
          <div class="post-thumbnail shadow-sm rounded-4 overflow-hidden reveal-img"><img class="w-100" src="{{ url_for('static', filename=blog.thumbnail) }}" alt="{{ blog.title }}"></div>
          <div class="single-content mt-4">{{ blog.content|safe }}</div>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}
