{% extends 'base.html' %}
{% block title %}{{ project.title }} - Portfolio{% endblock %}
{% block content %}
<section class="blog-single portfolio-single">
<div class="container">
  <h1 class="title">{{ project.title }}</h1>
  <p>{{ project.full_description }}</p>
  <img class="w-100" src="{{ url_for('static', filename=project.hero_image) }}" alt="{{ project.title }}">
  <h3>Tech Stack</h3><div>{% for tech in project.technologies %}<span class="badge mx-1">{{ tech }}</span>{% endfor %}</div>
  <h3>Features</h3><ul>{% for feature in project.features %}<li>{{ feature }}</li>{% endfor %}</ul>
  <div class="row">{% for screenshot in project.screenshots %}<div class="col-md-6"><img class="w-100" src="{{ url_for('static', filename=screenshot) }}" alt="{{ project.title }} screenshot"></div>{% endfor %}</div>
  <div class="mt-4">{% if project.live_url %}<a class="btn magnetic-button" href="{{ project.live_url }}" target="_blank">Live Demo</a>{% endif %} {% if project.github_url %}<a class="btn magnetic-button" href="{{ project.github_url }}" target="_blank">GitHub</a>{% endif %}</div>
</div>
</section>
{% endblock %}
