{% extends "base.html" %}

{% block title %} Works - Portfolio {% endblock %}


{% block content %}

			<!-- ***** Breadcrumb Area Start ***** -->
			<section id="home" class="breadcrumb-section">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-12">
							<!-- Content -->
							<div class="content w-60">
								<h1 class="title">Showcasing innovation</h1>
								<div class="flex ms-auto">
									<span class="line animate-line"></span>
									<h1 class="title">and expertise</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ***** Breadcrumb Area End ***** -->

			<!-- ***** Project Area Start ***** -->
			<section class="works explore-area portfolio-filter pt-0">
				<div class="container">
					<!--<div class="row justify-content-center text-center">
						<div class="col-12">
							<div class="btn-group filter-menu" role="group" aria-label="Basic radio toggle button group">
								<div class="input-item d-flex">
									<div class="content">
										<input type="radio" class="btn-check filter-btn" name="shuffle-filter" id="all" value="all" checked>
										<label class="btn" for="all">All</label>
									</div>
									<span class="count">07</span>
								</div>
	
								<div class="input-item d-flex">
									<div class="content">
										<input type="radio" class="btn-check filter-btn" name="shuffle-filter" id="branding" value="branding">
										<label class="btn" for="branding">Branding</label>
									</div>
									<span class="count">04</span>
								</div>
	
								<div class="input-item d-flex">
									<div class="content">
										<input type="radio" class="btn-check filter-btn" name="shuffle-filter" id="ui-ux" value="ui-ux">
										<label class="btn" for="ui-ux">UI/UX</label>
									</div>
									<span class="count">03</span>
								</div>
	
								<div class="input-item d-flex">
									<div class="content">
										<input type="radio" class="btn-check filter-btn" name="shuffle-filter" id="app-design" value="app-design">
										<label class="btn" for="app-design">App Design</label>
									</div>
									<span class="count">05</span>
								</div>
							</div>
						</div>
					</div> -->

					<div class="row filter-items items inner">
						<div class="col-12 col-lg-4 item filter-item" data-groups='["branding","app-design"]'>
							<!-- Portfolio Item -->
							<div class="card portfolio-item layout-2 scale has-shadow">
								<div class="image-holder">
									<!-- Card Thumb -->
									<a class="card-thumb" href="#">
										<img src="../static/assets/img/content/bot.jpeg" alt="">
									</a>
								</div>
								<!-- Card content -->
								<div class="card-content p-2">
									<div class="heading">
										<h4 class="title mt-2 mt-md-3 mb-3">Friday AI</h4>
										<div class="show-project">
											<div class="card-terms">
												<a class="terms badge" href="#">Python</a>
												<a class="terms badge" href="#">Open AI</a>
											</div>
											<div class="project-link card-terms">
												<a class="terms badge" href="#">Python</a>
												<a class="terms badge" href="#">Open AI</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-8 item filter-item" data-groups='["ui-ux","app-design"]'>
							<!-- Portfolio Item -->
							<div class="card portfolio-item layout-2 scale has-shadow">
								<div class="image-holder">
									<!-- Card Thumb -->
									<a class="card-thumb">
										<img src="../static/assets/img/content/battery.png" alt="">
									</a>
								</div>
								<!-- Card content -->
								<div class="card-content p-2">
									<div class="heading">
										<h4 class="title mt-2 mt-md-3 mb-3">Live Battery Indicator</h4>
										<div class="show-project">
											<div class="card-terms">
												<a class="terms badge" href="#">PostgreSQL</a>
												<a class="terms badge" href="#">PHP</a>
											</div>
											<div class="project-link card-terms">
												<a class="terms badge" href="#">PostgreSQL</a>
												<a class="terms badge" href="#">PHP</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-8 item filter-item" data-groups='["branding"]'>
							<!-- Portfolio Item -->
							<div class="card portfolio-item layout-2 scale has-shadow">
								<div class="image-holder">
									<!-- Card Thumb -->
									<a class="card-thumb" href="#">
										<img src="../static/assets/img/content/optolabzone.png" alt="">
									</a>
								</div>
								<!-- Card content -->
								<div class="card-content p-2">
									<div class="heading">
										<h4 class="title mt-2 mt-md-3 mb-3">Optolabzone</h4>
										<div class="show-project">
											<div class="card-terms">
												<a class="terms badge" href="#">UI/UX</a>
												<a class="terms badge" href="#">WordPress</a>
											</div>
											<div class="project-link card-terms">
												<a class="terms badge" href="#">UI/UX</a>
												<a class="terms badge" href="#">WordPress</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-4 item filter-item" data-groups='["branding","app-design"]'>
							<!-- Portfolio Item -->
							<div class="card portfolio-item layout-2 scale has-shadow">
								<div class="image-holder">
									<!-- Card Thumb -->
									<a class="card-thumb" href="">
										<img src="../static/assets/img/content/nursescript.png" alt="">
									</a>
								</div>
								<!-- Card content -->
								<div class="card-content p-2">
									<div class="heading">
										<h4 class="title mt-2 mt-md-3 mb-3">NurseScript</h4>
										<div class="show-project">
											<div class="card-terms">
												<a class="terms badge" href="#">Python</a>
												<a class="terms badge" href="#">AI/ML</a>
											</div>
											<div class="project-link card-terms">
												<a class="terms badge" href="#">Python</a>
												<a class="terms badge" href="#">AI/ML</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-8 item filter-item" data-groups='["ui-ux"]'>
							<!-- Portfolio Item -->
							<div class="card portfolio-item layout-2 scale has-shadow">
								<div class="image-holder">
									<!-- Card Thumb -->
									<a class="card-thumb" href="#">
										<img src="../static/assets/img/content/citetube.png" alt="">
									</a>
								</div>
								<!-- Card content -->
								<div class="card-content p-2">
									<div class="heading">
										<h4 class="title mt-2 mt-md-3 mb-3">Citetube</h4>
										<div class="show-project">
											<div class="card-terms">
												<a class="terms badge" href="#">Python</a>
												<a class="terms badge" href="#">Flask</a>
											</div>
											<div class="project-link card-terms">
												<a class="terms badge" href="#">Python</a>
												<a class="terms badge" href="#">Flask</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-4 item filter-item" data-groups='["branding","app-design"]'>
							<!-- Portfolio Item -->
							<div class="card portfolio-item layout-2 scale has-shadow">
								<div class="image-holder">
									<!-- Card Thumb -->
									<a class="card-thumb" href="#">
										<img src="../static/assets/img/content/attender.png" alt="">
									</a>
								</div>
								<!-- Card content -->
								<div class="card-content p-2">
									<div class="heading">
										<h4 class="title mt-2 mt-md-3 mb-3">Attender</h4>
										<div class="show-project">
											<div class="card-terms">
												<a class="terms badge" href="#">PHP</a>
												<a class="terms badge" href="#">JS</a>
											</div>
											<div class="project-link card-terms ">
												<a class="terms badge" href="#">PHP</a>
												<a class="terms badge" href="#">JS</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-8 item filter-item" data-groups='["ui-ux"]'>
							<!-- Portfolio Item -->
							<div class="card portfolio-item layout-2 scale has-shadow">
								<div class="image-holder">
									<!-- Card Thumb -->
									<a class="card-thumb" href="#">
										<img src="../static/assets/img/content/stamio.png" alt="">
									</a>
								</div>
								<!-- Card content -->
								<div class="card-content p-2">
									<div class="heading">
										<h4 class="title mt-2 mt-md-3 mb-3">Stamio</h4>
										<div class="show-project">
											<div class="card-terms">
												<a class="terms badge" href="#">UI/UX</a>
												<a class="terms badge" href="#">WordPress</a>
												<a class="terms badge" href="#">E-Commerce</a>
											</div>
											<div class="project-link card-terms">
												<a class="terms badge" href="#">UI/UX</a>
												<a class="terms badge" href="#">WordPress</a>
												<a class="terms badge" href="#">E-Commerce</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ***** Project Area End ***** -->

			<!-- ***** CTA Area Start ***** -->
			<section class="cta layout-2 primary-bg">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-12 col-md-8 col-lg-7">
							<div class="cta-text">
								<span class="sub-title">Want to collaborate?</span>
								<h2 class="title mt-3 mb-0">Let's Create Something <span>Together</span></h2>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-5 text-md-end mt-3 mt-md-0">
							<a class="btn magnetic-button" href="{{ url_for('contact') }}">Get In Touch! <i class="icon bi bi-arrow-right ms-1"></i><span></span></a>
						</div>
					</div>
				</div>
			</section>
			<!-- ***** CTA Area End ***** -->

			{% endblock %}