<div class="col-12 col-md-6 col-lg-4 item">
  <div class="card blog-item">
    <div class="image-holder">
      <a class="card-thumb" href="{{ url_for('blog_detail', slug=blog.slug) }}"><img src="{{ url_for('static', filename=blog.thumbnail) }}" alt="{{ blog.title }}" loading="lazy"></a>
    </div>
    <div class="card-body">
      <span class="date">{{ blog.date }}</span>
      <h4 class="title mt-2"><a href="{{ url_for('blog_detail', slug=blog.slug) }}">{{ blog.title }}</a></h4>
      <p>{{ blog.excerpt }}</p>
    </div>
  </div>
</div>
