<section id="home" class="breadcrumb-section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="content w-60">
          <h1 class="title">{{ title_line_1 }}</h1>
          <div class="flex ms-auto">
            {% if show_line %}<span class="line animate-line"></span>{% endif %}
            <h1 class="title">{{ title_line_2 }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content-round">
  <div class="rounded-div-wrapper">
    <div class="rounded-div">
      <div class="rounded-div-background"></div>
    </div>
  </div>
</div>
